project_name: phlux_centrifugal_synth_v1
client_name: ClientA
equipment_type: centrifugal
random_seed: 42
n_samples: 50000
unit_system: SI
test_split: 2.5
output:
  directory: phlux_lab/data/synthetic
  filename_template: '{client_name}_centrifugal_dataset.csv'
  overwrite: true
data:
- name: suction_pressure
  unit: bar
- name: discharge_pressure
  unit: bar
- name: delta_pressure
  unit: bar
- name: speed
  unit: rpm
- name: temperature
  unit: degC
- name: fluid_density
  unit: kg/m3
- name: fluid_viscosity
  unit: cP
- name: q_liquid
  unit: m3/h
- name: hydraulic_wear
  unit: frac
- name: pump_power
  unit: kW
- name: valve_opening
  unit: frac
- name: sink_pressure
  unit: bar
- name: valve_size
  unit: inches

operating_ranges:
  suction_pressure_range: [1, 3]
  temperature_range: [15, 25]
  speed_range: [1800, 1800]
  density_range: [995, 1010]
  viscosity_range: [0.8, 1.2]
  k_friction_range: [0.005, 0.005]

  hydraulic_wear:
    enabled: true
    range: [0.0, 0.15]

  pump:
    base_speed_rpm: 1800.0
    curve_points:
      - [0, 60]
      - [30, 55]
      - [60, 45]
      - [90, 25]
      - [120, 10]
    efficiency_curve_points:
      - [0, 0]
      - [30, 70]
      - [60, 78]
      - [90, 72]
      - [120, 55]
    power_ref_density_kg_m3: 1000.0

  valve:
    enabled: true
    valve_size: 12
    cv_flow_unit: m3/h
    cv_dp_unit: bar
    cv_curve_points:
      - [0.0, 0.0]
      - [0.2, 20]
      - [0.5, 50]
      - [0.8, 90]
      - [1.0, 120]
    valve_opening_range: [0.15, 0.75]
    sink_pressure_range: [1.0, 5.0]
